
@media screen and (max-width: 768px) {
    .login-logout-left-container {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .spinner-container {
        display: none;
    }

    .status-buttons-container {
        flex-direction: column;
    }

    .email-badge {
       visibility: hidden;
    }

}

